name: Deploy Website

on: 
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload to S3
        run: aws s3 sync frontend/ s3://cloudpipe-website-s3-lksjdflakdsjfalsdflkasdjf

  email_notification:
    needs: [ deploy ] # wait for deploy job to run
    if: always()
    runs-on: ubuntu-latest

    steps:
      - name: Email Content
        run: |
          RESULT="${{needs.deploy.result}}"

          if [ "$RESULT" = "success" ]; then
            echo "SUBJECT=Deployment Successful" >> $GITHUB_ENV
            echo "BODY=Your deployment was a success" >> $GITHUB_ENV
          else
            echo "SUBJECT=Deployment Failed" >> $GITHUB_ENV
            LOG_URL="${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}"
            echo "LOG_URL=$LOG_URL" >> $GITHUB_ENV
            echo "BODY=Your deployment failed. View logs here: $LOG_URL" >> $GITHUB_ENV
          fi

      - name: Send Email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: ${{ env.SUBJECT }}
          to: ${{ secrets.EMAIL_USERNAME }}   # change this if you want to send to another address
          from: "GitHub Actions <${{ secrets.EMAIL_USERNAME }}>"
          body: ${{ env.BODY }}


